<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webimpacto" translate="label" sortOrder="90000">
            <label>WebImpacto</label>
        </tab>
        <section id="webimpacto_weather" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Weather</label>
            <tab>webimpacto</tab>
            <resource>WebImpacto_Weather::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable top widget of time</comment>
                </field>
                <field id="top_text" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Text</label>
                    <comment>Message showed in the top of the widget</comment>
                </field>
                <field id="error_text" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Error text</label>
                    <comment>Message showed when browser is not compatible or customer doesn't enable current location</comment>
                </field>
            </group>
        </section>
    </system>
</config>
